.chartjsPolygonal {
  &__legend {
    display: flex;
    padding-left: 16px;

    &__item {
      margin-top: auto;
      margin-right: 16px;
      margin-bottom: 8px;
      height: fit-content;

      &__color {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 4px;
        margin: auto 8px auto 0;
      }
      &__label {
        font-size: 16px;
      }
    }
  }
}
